
.posts {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_info {
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-left: 3%;
}

.user_picture {
    width: 50px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user_name {
    margin-left: 10px;
}

.menu {
    padding-right: 65px;
}

li {
    list-style: none !important;
}


nav ul {
    padding: 0;
    margin: 0;
}

nav ul li ul {
    display: none;
}

nav ul li:hover .sub_menu {
    display: list-item !important;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90px;
    border-radius: 15px;
    text-align: center;
    background-color: #fff
}

nav ul li:hover .sub_menu {
    float: none;
    cursor: pointer;
    height: 100px;
}

.modify {

}

.delete{
    height: 40px;
    padding-top: 10px;
    border-radius: 0 0 15px 15px;
    text-align: center;
    transition: 0.2s;
}

.delete:hover {
    background-color:#FD2D01;
}

.message {
    margin: 5%;
}

.PostImage {
    margin-left: 1%;
    width: 98%;
    margin-bottom: 1%;
}

.like_dislike {
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dislike {
    margin-left: 5%;
}

.like, .dislike, .settings {
    font-size: 25px;
}



@media screen and (max-width:1250px) {
    .post {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    .post {
        width: 70%;
    }
}



