header {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.Logo {
    width: 250px;
}

.Logo:hover {
    cursor: pointer;
}


.Logout, .Profil {
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px;
    color: #FD2D01;
}

.Logout:hover, .Profil:hover {
    transform: scale(1.15);
}


